/* ---- Button ---- */

.contact-button input[type=image] {
    position: absolute;
    left: 95%;
    top: 95%;
    transform: translate(-100%, -100%);
}

.btt-main {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 32px;
    width: max-content;
    padding: 0.4rem 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: white;
    font-size: 1.8em;
    font-weight: 300;
    transition: background-color 500ms, color 500ms, letter-spacing 500ms;
    cursor: pointer;
}

.btt-main:hover {
    background-color: white;
    color: black;
    letter-spacing: 0.2rem;
}

#landing .btt-main,
#menu .btt-main {
    position: absolute;
    left: 95%;
    top: 95%;
    transform: translate(-100%, -100%);
}