#landing {
    overflow: hidden;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
}

#landing video {
    position: absolute;
    top: 0;
    width: 100%;
    filter: brightness(0.9);
    z-index: -1;
    left: 100%;
    transform: translateX(-100%);
}


/* ---- SLOGAN ---- */

#landing .slogan {
    text-transform: uppercase;
    letter-spacing: 0;
    color: white;
    font-size: 4.2em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5%;
    top: 90%;
    transform: translate(0%, -100%);
}

#landing .slogan span:nth-child(1) {
    margin-left: 6rem;
}

#landing .slogan span:nth-child(3) {
    margin-left: 4rem;
}